<div class='main mt-5 mb-5'>
  <div class='container-signup'>
    <div class='signup-content shadow'>
      <h2 class='form-title'>Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div class='form-group'>
          <%= f.email_field :email, autofocus: true, placeholder: 'Enter email',class: 'form-control' %>
        </div>
        <div class='actions'>
          <%= f.submit 'Send me reset password instructions',class: 'signup-btn mt-1 mb-3' %>
        </div>
      <% end %>
     </div>
  </div>
</div>
