<div class="home-main">
<!--   Close Navbar-->
    <div class="row align-items-center justify-content-center text-center site-vh-100">
      <div class="col-md-12">
        <h1 class="site-heading site-animate mb-3 fadeInUp site-animated">Welcome To DinnerDash</h1>
        <h2 class="h5 site-subheading mb-5 site-animate fadeInUp site-animated">Order and eat well with our delicious &amp; healthy foods.</h2>
        <p><%= link_to 'Order Now', items_path, class: 'btn btn-lg btn-outline-light' %></p>
      </div>
    </div>
<!--  Close main-div-->
</div>
