<% if user_signed_in?%>
  <li class='nav-link cat-li'><%= link_to 'View Orders',orders_path %></li>
<%end%>
<li class='nav-link cat-li'>
  <%= link_to " You have ordered #{current_cart.cart_items.size} item with value: #{current_cart.subtotal }Rs" %><hr class='mb-0'>
</li>
<li class='nav-link cat-li'>
  <%= link_to carts_path, class: 'btn btn-danger' do%>
    View Cart <i class="fa fa-shopping-cart"></i>
  <%end%>
</li>
