<h2 class="text-center mt-5" ><strong>Title: </strong><%= @item.title %></h2>
<div class=" container card bg-light p-3 col-sm-8 col-sm-offset-2 mb-5" width="18rem" >
  <h5 class="text-center"><strong>Description: </strong></h5><hr>
  <%= @item.desc %><hr>
  <b>Price: <%= @item.price %>RS</b>
</div>