<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
      <div class="card">
        <%= image_tag @item.image.url, class: "card-image"%>
        <div class="card-img-overlay d-flex justify-content-end">
          <a href="#" class="card-link text-danger like">
            <i class="fa fa-heart"></i>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @item.title %></h4>
          <p class="card-text"><%= @item.desc %></p>
          <h6 class="card-subtitle mb-2 text-muted">Category: Pakistani-Food</h6>
          <div><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
          </div>
          <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success"><h5 class="mt-4"><%= @item.price %>Rs</h5></div>
             <a href="#" class="btn btn-danger mt-3"><i class="fa fa-shopping-cart mr-1"></i> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
