.container-signup {
  max-width: 660px;
  position: relative;
  margin: 0 auto;
}

.signup-content {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 2.9rem;
}

.signup-btn {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  color: #222;
}

.form-title {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: #222;
  font-family: 'Montserrat';
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.shadow {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 20%);
}
