<h1 class='text-center pt-4 mb-4'>Food Categories</h1>
<% @categories.each do |category| %>
  <div class=' container card bg-light p-3 col-sm-6 col-sm-offset-2 mt-2 mb-2 text-center' width='18rem'>
    <%= link_to  "#{category.name}", category_path(category) %>
  </div>
<%end%>
<p class='mb-5'></p>
