<div class="container col-sm-12 col-sm-offset-1 position-absolute text-center">
  <% if notice %>
    <div class='alert alert-success'>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class='alert alert-danger'>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%= alert %>
    </div>
  <% end %>
</div>
